<?xml version="1.0"?>
<!--
/**
 * @package     VladFlonta\WebApiLog
 * @author      Vlad Flonta
 * @copyright   Copyright © 2022
 * @license     https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="webapi">
            <group id="logger" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Web API Logger</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="save_path" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Save path</label>
                    <comment><![CDATA[Path is relative to <em>var/log/</em>.]]></comment>
                </field>
                <field id="keep_days" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Days to keep</label>
                    <comment><![CDATA[Days of logs to keep when clearing existing files.]]></comment>
                </field>
                <field id="folder_depth" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Folder levels</label>
                    <comment><![CDATA[Number of depth levels to inspect in delete logs page.]]></comment>
                </field>
                <field id="exclude_services" translate="label comment" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable logging services</label>
                    <source_model>VladFlonta\WebApiLog\Model\Config\Source\Services</source_model>
                    <comment>Web API REST services which would not be logged.</comment>
                </field>
                <field id="enable_integration_name" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Record Integration Name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If the request is made via OAuth, record the name of the intregation the request is associated with.</comment>
                </field>
            </group>
            <group id="email_notifier" translate="label" type="text" sortOrder="100" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Web API Email Notifier</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="recipients" translate="label comment" type="textarea" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Recipients</label>
                    <comment>One line is one email address</comment>
                </field>
                <field id="email_template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="cron_schedule" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cron Schedule</label>
                    <comment>Specify cron expression (e.g., */15 * * * *)</comment>
                </field>
            </group>
        </section>
    </system>
</config>
